<a href="https://colab.research.google.com/github/choimin1243/Furniture_Shop/blob/master/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np

In [0]:
array1=np.array([1,2,3,4,5,6,7,8,9])

In [17]:
array1

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [0]:
array2=array1[np.where(array1< 8)]

In [22]:
array2

array([1, 2, 3, 4, 5, 6, 7])

In [0]:
array1=np.array([1,2,3,4,5,6,7,9])

In [24]:
array1.max()

9

In [25]:
array1.min()

1

In [26]:
array1=np.array([14,6,13,21,23,31])

array1.mean()

18.0

In [29]:
array1=np.array([2,3,4,5,6,7])
np.median(array1)

4.5

In [30]:
array1.std()

1.707825127659933

In [31]:
array1.var()

2.9166666666666665

In [0]:
import pandas as pd

In [0]:
names = ['dongwook', 'sineui', 'ikjoong', 'yoonsoo']
english_scores = [50, 89, 68, 88]
math_scores = [86, 31, 91, 75]

In [46]:
dict1={'names':names,'english_scores':english_scores, 'math_scores':math_scores}

df1=pd.DataFrame(dict1)

df1

      names  english_scores  math_scores
0  dongwook              50           86
1    sineui              89           31
2   ikjoong              68           91
3   yoonsoo              88           75

In [47]:
my_list=[{'name':'dongwook','english_score':50,'math_score':40},
         {'name':'shid','english_score':42,'math_score':23}]

pd.DataFrame(my_list)

       name  english_score  math_score
0  dongwook             50          40
1      shid             42          23